{{> head }}
{{> navbar }}
 
 <div class="row">
     <div class="col-8">
         <h1>Vengadores: Infinity War</h1>
         <p>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, omnis explicabo nam sequi voluptatum laboriosam fuga odit sapiente eveniet facere in natus nostrum, qui minima eligendi id labore inventore illo!
         </p>
     </div>

     <div class="col-4">
         <img src="assets/img/avengers.jpg" class="img-thumbnail">
     </div>

 </div>

{{> footer }}